<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title> RTwitter (リツイッター) ツイートのRT数予測 </title>
    <meta name="description" content="RTwitter (リツイッター) ツイートのRT数予測">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    {% include "static_template/css.html" %}
  </head>

  <body>
    <div id="app" class="container">
      {% include "nav/nav.html" %}

      {% include "search_box/default.html" %}

      {% include "main/default.html" %}

    </div>
    {% include "static_template/js.html" %}
  </body>

</html>
